crypto_index/save_hdfs.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>f1e50143-017c-1000-e25c-b648957b96b7</groupId>
    <name>save_hdfs</name>
    <snippet>
        <controllerServices>
            <id>2de7fcb9-d634-3338-0000-000000000000</id>
            <parentGroupId>3e7aa23b-bc51-3163-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>dataengineering</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:postgresql://localhost/dataengineering?stringtype=unspecified</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>org.postgresql.Driver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>/home/teran45/nifi-1.14.0/drivers/postgresql-42.3.1.jar</value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>postgres</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <processGroups>
            <id>9c19ceee-b0e4-3a1c-0000-000000000000</id>
            <parentGroupId>3e7aa23b-bc51-3163-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>027922b9-8bd2-37c7-0000-000000000000</id>
                    <parentGroupId>9c19ceee-b0e4-3a1c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9c19ceee-b0e4-3a1c-0000-000000000000</groupId>
                        <id>c2d51814-c584-3c4d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9c19ceee-b0e4-3a1c-0000-000000000000</groupId>
                        <id>4212f3e3-1136-3269-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4e170270-d424-359d-0000-000000000000</id>
                    <parentGroupId>9c19ceee-b0e4-3a1c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9c19ceee-b0e4-3a1c-0000-000000000000</groupId>
                        <id>4212f3e3-1136-3269-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>9c19ceee-b0e4-3a1c-0000-000000000000</groupId>
                        <id>b49890ab-5f98-3567-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>53437534-e63a-3f45-0000-000000000000</id>
                    <parentGroupId>9c19ceee-b0e4-3a1c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9c19ceee-b0e4-3a1c-0000-000000000000</groupId>
                        <id>34e63e2c-85e9-3aed-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9c19ceee-b0e4-3a1c-0000-000000000000</groupId>
                        <id>6e53db5f-5966-3305-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>55ee45b9-9173-3f1f-0000-000000000000</id>
                    <parentGroupId>9c19ceee-b0e4-3a1c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9c19ceee-b0e4-3a1c-0000-000000000000</groupId>
                        <id>bf2e5ab2-2b07-318e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>9c19ceee-b0e4-3a1c-0000-000000000000</groupId>
                        <id>b49890ab-5f98-3567-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>95cee592-de9d-398f-0000-000000000000</id>
                    <parentGroupId>9c19ceee-b0e4-3a1c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9c19ceee-b0e4-3a1c-0000-000000000000</groupId>
                        <id>f037b8b2-790f-3eee-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9c19ceee-b0e4-3a1c-0000-000000000000</groupId>
                        <id>34e63e2c-85e9-3aed-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a7eeec20-2f5f-369b-0000-000000000000</id>
                    <parentGroupId>9c19ceee-b0e4-3a1c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9c19ceee-b0e4-3a1c-0000-000000000000</groupId>
                        <id>f037b8b2-790f-3eee-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9c19ceee-b0e4-3a1c-0000-000000000000</groupId>
                        <id>40d4283e-f72a-36b5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>bc0b1896-8ffa-3749-0000-000000000000</id>
                    <parentGroupId>9c19ceee-b0e4-3a1c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9c19ceee-b0e4-3a1c-0000-000000000000</groupId>
                        <id>40d4283e-f72a-36b5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9c19ceee-b0e4-3a1c-0000-000000000000</groupId>
                        <id>c2d51814-c584-3c4d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d3d58403-67eb-33c9-0000-000000000000</id>
                    <parentGroupId>9c19ceee-b0e4-3a1c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9c19ceee-b0e4-3a1c-0000-000000000000</groupId>
                        <id>b49890ab-5f98-3567-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9c19ceee-b0e4-3a1c-0000-000000000000</groupId>
                        <id>4e04df38-ef81-361c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>df245260-27ba-34c9-0000-000000000000</id>
                    <parentGroupId>9c19ceee-b0e4-3a1c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9c19ceee-b0e4-3a1c-0000-000000000000</groupId>
                        <id>6e53db5f-5966-3305-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9c19ceee-b0e4-3a1c-0000-000000000000</groupId>
                        <id>bf2e5ab2-2b07-318e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>dfa4fae1-d25c-3a2b-0000-000000000000</id>
                    <parentGroupId>9c19ceee-b0e4-3a1c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9c19ceee-b0e4-3a1c-0000-000000000000</groupId>
                        <id>bb8ff827-ff9b-3228-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9c19ceee-b0e4-3a1c-0000-000000000000</groupId>
                        <id>d0827dd1-1c7e-308e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f3c5e743-3bf9-3dac-0000-000000000000</id>
                    <parentGroupId>9c19ceee-b0e4-3a1c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9c19ceee-b0e4-3a1c-0000-000000000000</groupId>
                        <id>4e04df38-ef81-361c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>9c19ceee-b0e4-3a1c-0000-000000000000</groupId>
                        <id>5e5ca26e-d506-3b9e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ff388e0d-3bf9-336f-0000-000000000000</id>
                    <parentGroupId>9c19ceee-b0e4-3a1c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9c19ceee-b0e4-3a1c-0000-000000000000</groupId>
                        <id>5e5ca26e-d506-3b9e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9c19ceee-b0e4-3a1c-0000-000000000000</groupId>
                        <id>bb8ff827-ff9b-3228-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>34e63e2c-85e9-3aed-0000-000000000000</id>
                    <parentGroupId>9c19ceee-b0e4-3a1c-0000-000000000000</parentGroupId>
                    <position>
                        <x>1576.0</x>
                        <y>712.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>coins_${now():format('yyyy-MM-dd')}.json</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>40d4283e-f72a-36b5-0000-000000000000</id>
                    <parentGroupId>9c19ceee-b0e4-3a1c-0000-000000000000</parentGroupId>
                    <position>
                        <x>312.0</x>
                        <y>720.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>index_${now():format('yyyy-MM-dd')}.json</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>4212f3e3-1136-3269-0000-000000000000</id>
                    <parentGroupId>9c19ceee-b0e4-3a1c-0000-000000000000</parentGroupId>
                    <position>
                        <x>312.0</x>
                        <y>240.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
<value>
    <name>sql-pre-query</name>
</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>
    <name>SQL select query</name>
</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
<value>
    <name>sql-post-query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>
    <name>compression-format</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>
    <name>esql-max-rows</name>
</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>
    <name>esql-output-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>
    <name>esql-fetch-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>2de7fcb9-d634-3338-0000-000000000000</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>select * from coins.indexs where
date_added between '${data_start}' and '${data_end}' order by date_added</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>60 seconds</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>true</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>false</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>0</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>10 min</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteSQL</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                </processors>
                <processors>
                    <id>4e04df38-ef81-361c-0000-000000000000</id>
                    <parentGroupId>9c19ceee-b0e4-3a1c-0000-000000000000</parentGroupId>
                    <position>
                        <x>1544.0</x>
                        <y>-48.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>
    <name>pretty_print</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-modify-overwrite</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>{
    "data_end": "${data:format('yyyy-MM-dd HH:mm:ss')}",
  	"data_start": "${data:minus(27000000):format('yyyy-MM-dd HH:mm:ss')}"
}</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>JoltTransformJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
                <processors>
                    <id>5e5ca26e-d506-3b9e-0000-000000000000</id>
                    <parentGroupId>9c19ceee-b0e4-3a1c-0000-000000000000</parentGroupId>
                    <position>
                        <x>960.0</x>
                        <y>-40.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>data</key>
<value>
    <name>data</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>data</key>
<value>$.max</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>6e53db5f-5966-3305-0000-000000000000</id>
                    <parentGroupId>9c19ceee-b0e4-3a1c-0000-000000000000</parentGroupId>
                    <position>
                        <x>1576.0</x>
                        <y>472.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-avro-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JSON container options</key>
<value>
    <name>JSON container options</name>
</value>
                            </entry>
                            <entry>
<key>Wrap Single Record</key>
<value>
    <name>Wrap Single Record</name>
</value>
                            </entry>
                            <entry>
<key>Avro schema</key>
<value>
    <name>Avro schema</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JSON container options</key>
<value>array</value>
                            </entry>
                            <entry>
<key>Wrap Single Record</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Avro schema</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertAvroToJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type>
                </processors>
                <processors>
                    <id>b49890ab-5f98-3567-0000-000000000000</id>
                    <parentGroupId>9c19ceee-b0e4-3a1c-0000-000000000000</parentGroupId>
                    <position>
                        <x>952.0</x>
                        <y>192.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>data_end</key>
<value>
    <name>data_end</name>
</value>
                            </entry>
                            <entry>
<key>data_start</key>
<value>
    <name>data_start</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>data_end</key>
<value>$.data_end</value>
                            </entry>
                            <entry>
<key>data_start</key>
<value>$.data_start</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>bb8ff827-ff9b-3228-0000-000000000000</id>
                    <parentGroupId>9c19ceee-b0e4-3a1c-0000-000000000000</parentGroupId>
                    <position>
                        <x>320.0</x>
                        <y>-56.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-avro-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JSON container options</key>
<value>
    <name>JSON container options</name>
</value>
                            </entry>
                            <entry>
<key>Wrap Single Record</key>
<value>
    <name>Wrap Single Record</name>
</value>
                            </entry>
                            <entry>
<key>Avro schema</key>
<value>
    <name>Avro schema</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JSON container options</key>
<value>array</value>
                            </entry>
                            <entry>
<key>Wrap Single Record</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Avro schema</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertAvroToJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type>
                </processors>
                <processors>
                    <id>bf2e5ab2-2b07-318e-0000-000000000000</id>
                    <parentGroupId>9c19ceee-b0e4-3a1c-0000-000000000000</parentGroupId>
                    <position>
                        <x>1568.0</x>
                        <y>208.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
<value>
    <name>sql-pre-query</name>
</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>
    <name>SQL select query</name>
</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
<value>
    <name>sql-post-query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>
    <name>compression-format</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>
    <name>esql-max-rows</name>
</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>
    <name>esql-output-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>
    <name>esql-fetch-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>2de7fcb9-d634-3338-0000-000000000000</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>select * from coins.coins_stats where
date_added between '${data_start}' and '${data_end}' order by date_added</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>60 seconds</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>true</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>false</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>0</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>10 min</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteSQL</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                </processors>
                <processors>
                    <id>c2d51814-c584-3c4d-0000-000000000000</id>
                    <parentGroupId>9c19ceee-b0e4-3a1c-0000-000000000000</parentGroupId>
                    <position>
                        <x>320.0</x>
                        <y>496.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-avro-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JSON container options</key>
<value>
    <name>JSON container options</name>
</value>
                            </entry>
                            <entry>
<key>Wrap Single Record</key>
<value>
    <name>Wrap Single Record</name>
</value>
                            </entry>
                            <entry>
<key>Avro schema</key>
<value>
    <name>Avro schema</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JSON container options</key>
<value>array</value>
                            </entry>
                            <entry>
<key>Wrap Single Record</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Avro schema</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertAvroToJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type>
                </processors>
                <processors>
                    <id>d0827dd1-1c7e-308e-0000-000000000000</id>
                    <parentGroupId>9c19ceee-b0e4-3a1c-0000-000000000000</parentGroupId>
                    <position>
                        <x>960.0</x>
                        <y>-232.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
<value>
    <name>sql-pre-query</name>
</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>
    <name>SQL select query</name>
</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
<value>
    <name>sql-post-query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>
    <name>compression-format</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>
    <name>esql-max-rows</name>
</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>
    <name>esql-output-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>
    <name>esql-fetch-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>2de7fcb9-d634-3338-0000-000000000000</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>select max(date_added) from coins.coins_stats</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>60 seconds</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>true</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>true</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>0</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 10 0 * * ?</schedulingPeriod>
                        <schedulingStrategy>CRON_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteSQL</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                </processors>
                <processors>
                    <id>f037b8b2-790f-3eee-0000-000000000000</id>
                    <parentGroupId>9c19ceee-b0e4-3a1c-0000-000000000000</parentGroupId>
                    <position>
                        <x>952.0</x>
                        <y>472.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-hadoop-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>
    <name>Hadoop Configuration Resources</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
<value>
    <name>Kerberos Principal</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
<value>
    <name>Kerberos Keytab</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Password</key>
<value>
    <name>Kerberos Password</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>
    <name>Kerberos Relogin Period</name>
</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
<value>
    <name>Additional Classpath Resources</name>
</value>
                            </entry>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Block Size</key>
<value>
    <name>Block Size</name>
</value>
                            </entry>
                            <entry>
<key>IO Buffer Size</key>
<value>
    <name>IO Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replication</key>
<value>
    <name>Replication</name>
</value>
                            </entry>
                            <entry>
<key>Permissions umask</key>
<value>
    <name>Permissions umask</name>
</value>
                            </entry>
                            <entry>
<key>Remote Owner</key>
<value>
    <name>Remote Owner</name>
</value>
                            </entry>
                            <entry>
<key>Remote Group</key>
<value>
    <name>Remote Group</name>
</value>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>
    <name>Compression codec</name>
</value>
                            </entry>
                            <entry>
<key>Ignore Locality</key>
<value>
    <name>Ignore Locality</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>/home/teran45/hadoop/etc/hadoop/core-site.xml,/home/teran45/hadoop/etc/hadoop/hdfs-site.xml</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
                            </entry>
                            <entry>
<key>Kerberos Password</key>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>4 hours</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
                            </entry>
                            <entry>
<key>Directory</key>
<value>/user/root</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>append</value>
                            </entry>
                            <entry>
<key>Block Size</key>
                            </entry>
                            <entry>
<key>IO Buffer Size</key>
                            </entry>
                            <entry>
<key>Replication</key>
                            </entry>
                            <entry>
<key>Permissions umask</key>
                            </entry>
                            <entry>
<key>Remote Owner</key>
                            </entry>
                            <entry>
<key>Remote Group</key>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>Ignore Locality</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutHDFS</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>save hdfs</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>06/06/2022 01:26:06 MSK</timestamp>
</template>
